table {

    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;

}

td, th {

    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;

}

th .gridimoEditTextHeader{
    display:none;
}
th .gridimoDeleteHeader {
    color:red;
}
th .gridimoEditHeader {
    color:lightskyblue;
}
th .hoverable:hover {
    color:white;
    cursor: pointer;
}

  
tr:nth-child(even) {

    background-color: #dddddd;

}

.gridimoHeaderCell{
    display:none;
}
.gridimoCell{
    display:none;
}
.gridimoFooterCell{
    display:none;
}

